{% extends 'base.html' %}
{% block title %}
    年度总结
{% endblock %}
{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-bordered text-center">
            <thead>
            <tr class="text-center">
                <td colspan="7">ACM{{ year }}年总结</td>
            </tr>
            </thead>
            {% for eles in eleslist %}
                <tr>
                    <td rowspan="5">{{ eles.price.name }}</td>
                    <td rowspan="2">队伍</td>
                    <td>数量</td>
                    <td>交通费用</td>
                    <td>酒店费用</td>
                    <td>报名费</td>
                    <td>总费用</td>
                </tr>
                <tr>
                    <td>{{ eles.price.stu_num }}</td>
                    <td>{{ eles.price.stu_traionpri }}</td>
                    <td>{{ eles.price.stu_accpri }}</td>
                    <td>{{ eles.price.stu_apply }}</td>
                    <td>{{ eles.price.stu_price }}</td>
                </tr>
                <tr>
                    <td rowspan="2">老师</td>
                    <td>数量</td>
                    <td>交通费用</td>
                    <td>酒店费用</td>
                    <td>补贴费</td>
                    <td>总费用</td>
                </tr>
                <tr>
                    <td>{{ eles.price.te_nums }}</td>
                    <td>{{ eles.price.te_traionpri }}
                        {% if eles.price.is_air %}飞机{% endif %}</td>
                    <td>{{ eles.price.te_accpri }}</td>
                    <td>{{ eles.price.te_allo }}</td>
                    <td>{{ eles.price.te_price }}</td>
                </tr>
                <tr>
                    <td>总费用</td>
                    <td colspan="5">{{ eles.price.pri }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>年度费用</td>
                <td colspan="6">{{ prices }}</td>
            </tr>
        </table>
    </div>
{% endblock %}