{% extends 'base.html' %}
{% block title %}
    ACM预算系统
{% endblock %}

{% block content %}
    {% for cnid in cnam %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ cnid.name }}</div>
            <div class="panel-body">
                <ul>
                    {% if cnid.el_id %}
                        <li><a href="{% url 'selel' cnid.pk %}" >{{ cnid.name }}初始预算表</a></li>
                    {% endif %}
                    {% if cnid.ul_id %}
                        <li><a href="{% url 'selel' cnid.pk %}" >{{ cnid.name }}最终预算表</a></li>
                    {% endif %}
                    {% if cnid.ac_id %}
                        <li><a href="{% url 'selel' cnid.pk %}" >{{ cnid.name }}实际账单</a></li>
                    {% endif %}
                </ul>
            </div>
    </div>
        {% empty %}
        <h3 class="text-center" style="color: #76020c">还没有账目清单哟</h3>
    {% endfor %}


{% endblock %}