<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登出</title>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div style="position:absolute;top:50%;left:50%;width:300px;height:150px;margin-left:-180px;margin-top:-120px;
        background-color: #d7d8ed; opacity:0.8">
        <h2 class="text-center">ACM预算系统登出</h2>
        <hr>
           <h4 class="text-center">成功退出CM预算系统！</h4>
    </div>
</div>
</body>
</html>